<div class="container-fluid-menu">
  <div class="menu-pequeño-container">
    <ul class="menu-pequeño" [ngClass]="{'d-none-menu': extender}">
      <li *ngFor="let item of menuItems" 
          [routerLink]="item.path" 
          routerLinkActive="menu-mediano-lista-activo" 
          (click)="toggleMenu()">
        {{item.label}}
      </li>
    </ul>
  </div>
  <div *ngIf="showAddButton==true" class="btn-agregar">
    <button (click)="onAdd.emit()">{{addButtonLabel}}</button>
  </div>
</div>
<hr class="linea-menu">