@use "sass:color";
@use "sass:map";
@use '../../../styles/variables' as v;
@use '../../../styles/components' as c;


.form-title-container{
  width: 100%;
  display: flex;
}

.form-title {
  line-height: normal;
  color: v.$color-base;
  font-weight: 800;
  font-style: bold;

  & p {
      font-size: 24px;
  }
}

.container-fluid {
    @extend .container-margin;
    margin-top: 1rem !important;

}

.row {
    @extend .row
}

.flex-centrar{
    @extend .flex-centrar
}

.esconder {
    @extend .esconder
}

.table-container {
    width: 100% !important;
}

.tabla {
    @extend .tabla-default
}

.p {
    @extend .p
}



.btn-ver {
    button {
        @extend .button-primary;
        width: fit-content;
        border-radius: 9px !important;
        padding: 0.1rem 1.5rem;
      }
}

.btn-editar,
.btn-eliminar,
.btn-eventos {
    @extend .button-third;
    margin-left: 10px;
}

.estado-select-detalle {
    margin-left: 10px;
}

.tittle{
  line-height: normal;
  color: v.$color-base;
  font-weight: 800;

  & p {
      font-size: 24px;
  }
}

.linea {
  background-color: v.$color-base;
  height: 3px;
  border: 1px;
  width: 450px;
}

.tittle-container{
  width: 100% !important;
  display: flex;
}

.btn-agregar {

  margin-left: auto;

  button {
    @extend .button-primary;
    width: fit-content;
    border-radius: 9px !important;
    padding: 0.6rem 2.5rem;
  }
}
