<div *ngIf="cargando" class="spinner-overlay">
    <div class="spinner"></div>
  </div>

  <div class="container-fluid">
    <div class="row flex-centrar">
        <div class="esconder table-container">
          <table class="tabla"  id="temporada-table">
            <thead>
              <tr class="header-tr">
                <th class="">ID</th>
                <th class="">Nombre</th>
                <th class="">Precio</th>
                <th class="">Servicio+IVA</th>
                <th class="">Estado</th>
              </tr>
            </thead>
            <tbody>

              <!-- Spinner de carga -->
              <tr *ngIf="cargando" class="centrarTexto">
                <td colspan="100%">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </td>
              </tr>

              <tr class="centrarTexto">
                <td colspan="100%" *ngIf="tarifas?.length == 0 && cargando == false" class="mensaje-vacio">
                  No tiene tarifas {{ tipoTarifa }}
                </td>
              </tr>
     
              <ng-container *ngFor="let tarifa of tarifas; let i = index">
                <tr class="body-td">
                  <td class="d-none-384">
                    <button class="btn btn-sm" (click)="toggleItem(i)">
                      {{ selectedItem === i ? '−' : '+' }}
                    </button>
                    {{ tarifa.id }}
                  </td>
                  <td class="d-none-687">{{ tarifa.nombre }}</td>
                  <td class="d-none-384">{{ tarifa.precio  | currency:'COP ':'symbol':'1.0-0' }}</td>
                  <td class="d-none-687">{{ calcularTotalConIva(tarifa) | currency:'COP ':'symbol':'1.0-0' }}</td>
                  <td class="d-none-384">
                    <select [(ngModel)]="tarifa.estado" 
                      (change)="cambiarEstado(tarifa)"
                      class="form-select estado-select">
                      <option [ngValue]="1">Activado</option>
                      <option [ngValue]="0">Desactivado</option>
                      <option [ngValue]="2">Sold Out</option>
                      <option [ngValue]="3">Tarifa para Cupón</option>
                    </select>
                  </td>
                </tr>
     
                <!-- Sección Expandida -->
                <tr *ngIf="selectedItem === i">
                  <td colspan="100%" class="expandir-table">
                      <div class="detalle-expandido">
                        <div> 
                          <p class="p">Información</p>
                        </div>  
                        <div class="informacion-container">               
                          <div class="detalle-item">
                            <p class="etiqueta">Nombre:</p> 
                            <span class="valor">{{ tarifa.nombre }}</span>
                          </div>
                          <div class="detalle-item">
                            <p class="etiqueta">Precio:</p> 
                            <span class="valor">{{ tarifa.precio | currency:'COP ':'symbol':'1.0-0' }}</span>
                          </div>
                          <div class="detalle-item">
                            <p class="etiqueta">Servicio:</p> 
                            <span class="valor">{{ tarifa.servicio | currency:'COP ':'symbol':'1.0-0' }}</span>
                          </div>
                          <div class="detalle-item">
                            <p class="etiqueta">IVA:</p> 
                            <span class="valor">{{ tarifa.iva | currency:'COP ':'symbol':'1.0-0' }}</span>
                          </div>
                          <div class="detalle-item">
                            <p class="etiqueta"> Servicio+Iva:</p> 
                            <span class="valor">{{ calcularTotalConIva(tarifa) | currency:'COP ':'symbol':'1.0-0' }}</span>
                          </div>                                           
                        </div>
                        <hr class="linea-detalle-expandido">
                        <div>
                          <p class="p">Acciones</p>
                        </div>
                        <div>
                            <button class="btn-editar" (click)="editarTarifa(tarifa)">Editar</button>
                            <button class="btn-eliminar" (click)="eliminarTarifa(tarifa.id)">Eliminar</button>
                            <button class="btn-editar" *ngIf="tarifa.estado === 3" (click)="gestionarCupones(tarifa)">Gestionar Cupones</button>
                            <select [(ngModel)]="tarifa.estado" 
                              (change)="cambiarEstado(tarifa)"
                              class="form-select estado-select-detalle">
                              <option [ngValue]="1">Activado</option>
                              <option [ngValue]="0">Desactivado</option>
                              <option [ngValue]="2">Sold Out</option>
                              <option [ngValue]="3">Tarifa para Cupón</option>
                            </select>
                        </div>
                      </div>                        
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
    </div>


    

</div>
