<div class="filtro-container">
  <div class="filters">
    <div *ngFor="let filter of filters" class="filter-item">
      <label *ngIf="filter.label" class="filter-label">
        {{ filter.label }}
      </label>
      <input
        [(ngModel)]="filter.value"
        type="text"
        [placeholder]="filter.placeholder || 'Buscar...'"
        class="input"
        (keyup.enter)="filter.onEnter ? filter.onEnter(filter.value.trim()) : buscar()"
        aria-label="Campo de búsqueda"
      />
    </div>
  </div>

  <button
    class="button-lupa"
    (click)="buscar()"
    title="Buscar"
    aria-label="Buscar"
    type="button"
  ></button>
</div>
