@use "sass:color";
@use "sass:map";
@use '../../../styles/variables' as v;
@use '../../../styles/components' as c;
@use '../../../styles/mixins' as m;

.filtro-container {
  margin-left: 3rem;
  margin-right: 3rem;
  width: auto;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;

  .filters {
    display: flex;
    flex: 1;
    gap: 0.5rem;
  }

  .filter-item {
    flex: 1;
    display: flex;
    flex-direction: column;

    .filter-label {
      margin-bottom: 4px;
      font-weight: bold;
    }

    .input {
      @extend %input-field;
      flex: 1;
      min-width: 0;
      padding: 5px 8px;
      border-radius: 5px;
      
      &.select {
        cursor: pointer;
        
        &:focus {
          outline: none;
          border-color: v.$color-primario;
          box-shadow: 0 0 0 0.2rem rgba(255, 217, 0, 0.25);
        }
      }
    }
  }
.button-lupa {
    @extend .button-primary; 
    padding: 0px 0px;
    align-self: flex-end;
  }
  

}