<section class="propiedades-panel">
  <h3 class="panel-title">Propiedades de Sección</h3>
  
  <!-- Nombre y Orden - Propiedades específicas de la sección -->
  <div class="panel-section">
    <div class="form-group">
      <label class="label">Nombre</label>
      <input 
        type="text" 
        class="input-name"
        [(ngModel)]="seccionEditada.nombre" 
        placeholder="Nombre de la sección"
      >
    </div>
    
    <div class="form-group">
      <label class="label">Orden</label>
      <input 
        type="number" 
        class="input-name"
        [(ngModel)]="seccionEditada.orden"
        min="0"
      >
    </div>
  </div>

  <!-- Propiedades de Padding - Específicas para secciones -->
  <div class="panel-section">
    <h4 class="section-title">Espaciado Interno (Padding - px)</h4>
    <div class="grid-2-col">
      <div class="form-group">
        <label class="label">Superior</label>
        <input 
          type="number" 
          class="input-name"
          [(ngModel)]="seccionEditada.estilos.paddingTop"
          min="0"
        >
      </div>
      
      <div class="form-group">
        <label class="label">Inferior</label>
        <input 
          type="number" 
          class="input-name"
          [(ngModel)]="seccionEditada.estilos.paddingBottom"
          min="0"
        >
      </div>
      
      <div class="form-group">
        <label class="label">Izquierdo</label>
        <input 
          type="number" 
          class="input-name"
          [(ngModel)]="seccionEditada.estilos.paddingLeft"
          min="0"
        >
      </div>
      
      <div class="form-group">
        <label class="label">Derecho</label>
        <input 
          type="number" 
          class="input-name"
          [(ngModel)]="seccionEditada.estilos.paddingRight"
          min="0"
        >
      </div>
    </div>
  </div>
  
  
  <app-editor-propiedades-comunes [contenido]="seccionEditada"></app-editor-propiedades-comunes>
  
  <!-- Botones de Acción -->
  <div class="panel-section action-buttons">
    <button 
      class="btn-guardar"
      (click)="guardarPropiedades()"
    >
      Aplicar cambios
    </button>
  </div>
</section>