<div class="container-fluid">
  <div class="tittle-container">
    <div class="tittle">
      <p>Buscar Ordenes</p>
      <hr class="linea">
    </div>
</div>
<div class="container-fluid-menu">
  <div class="menu-pequeño-container">
    <ul class="menu-pequeño" [ngClass]="{'d-none-menu': extender}">
      <li routerLink="orden" routerLinkActive="menu-mediano-lista-activo" (click)="extenderMenu()">No. Orden</li>
      <li routerLink="cliente" routerLinkActive="menu-mediano-lista-activo" (click)="extenderMenu()">Cliente</li>
    </ul>
  </div>
</div>
<hr class="linea-menu">
</div>
<router-outlet></router-outlet>
