@use "sass:color";
@use "sass:map";
@use '../../../styles/variables' as v;
@use '../../../styles/components' as c;

.container-fluid {
    @extend .container-margin;
    margin-top: 1rem !important;

}

.row {
    @extend .row
}

.flex-centrar{
    @extend .flex-centrar
}

.esconder {
    @extend .esconder
}

.table-container {
    width: 100% !important;
}

.tabla {
    @extend .tabla-default
}

.title-container {
  margin-top: 3rem;
  margin-bottom: 1rem
}

.p {
    @extend .p
}



.btn-ver {
    button {
        @extend .button-primary;
        width: fit-content;
        border-radius: 9px !important;
        padding: 0.1rem 1.5rem;
      }
}

.btn-editar,
.btn-eliminar,
.btn-eventos {
    @extend .button-third;
    margin-left: 10px;
}

.estado-select-detalle {
    margin-left: 10px;
}

.btn-agregar {

  margin-left: auto;

  button {
    @extend .button-primary;
    width: fit-content;
    border-radius: 9px !important;
    padding: 0.6rem 2.5rem;
  }
}
